In [1]:
%pip install numpy pandas matplotlib scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/mert/Library/Python/3.9/lib/python/site-packages (2.0.2)
Requirement already satisfied: pandas in /Users/mert/Library/Python/3.9/lib/python/site-packages (2.3.3)
Requirement already satisfied: matplotlib in /Users/mert/Library/Python/3.9/lib/python/site-packages (3.9.4)
Requirement already satisfied: scikit-learn in /Users/mert/Library/Python/3.9/lib/python/site-packages (1.6.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.3)
Requirement already satisfied: pytz>=2020.1 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.60.2)
Requirement already satisfied: pillow>=8 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: packaging>=20.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (26.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: scipy>=1.6.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/mert/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.23.0)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

from __future__ import print_function
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.metrics import mean_squared_error

import warnings 
warnings.filterwarnings("ignore")

In [16]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/pu9kbeSaAtRZ7RxdJKX9_A/yellow-tripdata.csv'
raw_data = pd.read_csv(url)
raw_data.head()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,mta_tax,tolls_amount,improvement_surcharge,tip_amount
0,2,1,17.63,2,1,132,164,1,70.0,0.5,6.94,1,16.54
1,2,1,19.52,2,1,132,236,1,70.0,0.5,6.94,1,16.19
2,2,1,17.81,2,1,132,48,1,70.0,0.5,6.94,1,12.00
3,2,2,19.30,2,1,132,148,1,70.0,0.5,0.00,1,5.00
4,2,1,18.75,2,1,132,234,1,70.0,0.5,6.94,1,10.00

In [17]:
correlation_values = raw_data.corr()
correlation_values

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,mta_tax,tolls_amount,improvement_surcharge,tip_amount
VendorID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
passenger_count,NaN,1.000000,-0.004092,0.065441,-0.007627,-0.001270,0.000266,NaN,0.039041,-0.061276,0.045621,-0.012612,0.015081
trip_distance,NaN,-0.004092,1.000000,0.043416,0.001202,-0.076809,0.037901,NaN,0.430373,0.070344,0.116085,0.031708,0.101819
RatecodeID,NaN,0.065441,0.043416,1.000000,0.001357,-0.023547,0.034514,NaN,0.491720,-0.871507,0.020164,-0.031749,0.094075
store_and_fwd_flag,NaN,-0.007627,0.001202,0.001357,1.000000,0.000703,-0.003097,NaN,-0.000055,-0.003332,0.002761,-0.000121,0.000320
PULocationID,NaN,-0.001270,-0.076809,-0.023547,0.000703,1.000000,0.017738,NaN,-0.112935,0.002109,-0.015988,0.039675,-0.023086
DOLocationID,NaN,0.000266,0.037901,0.034514,-0.003097,0.017738,1.000000,NaN,0.036020,0.003866,0.055673,-0.004676,0.024348
payment_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fare_amount,NaN,0.039041,0.430373,0.491720,-0.000055,-0.112935,0.036020,NaN,1.000000,-0.364302,0.104411,-0.000011,0.200638
mta_tax,NaN,-0.061276,0.070344,-0.871507,-0.003332,0.002109,0.003866,NaN,-0.364302,1.000000,0.064604,0.036430,-0.054488
tolls_amount,NaN,0.045621,0.116085,0.020164,0.002761,-0.015988,0.055673,NaN,0.104411,0.064604,1.000000,0.009274,0.116172
improvement_surcharge,NaN,-0.012612,0.031708,-0.031749,-0.000121,0.039675,-0.004676,NaN,-0.000011,0.036430,0.009274,1.000000,-0.000727
tip_amount,NaN,0.015081,0.101819,0.094075,0.000320,-0.023086,0.024348,NaN,0.200638,-0.054488,0.116172,-0.000727,1.000000

In [18]:
y = raw_data[['tip_amount']].values.astype('float32')

proc_data = raw_data.drop(['tip_amount'], axis=1)

X = proc_data.values

X = normalize(X, norm='l1', copy=False)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
from sklearn.tree import DecisionTreeRegressor

rt = DecisionTreeRegressor(criterion='squared_error', max_depth=4, random_state=35) 

rt.fit(X_train, y_train)
rt_predictions = rt.predict(X_test)

In [25]:
print("Regression Tree Mean Squared Error:", mean_squared_error(y_test, rt_predictions))
print("Regression Tree R2 Score:", rt.score(X_test, y_test))

Regression Tree Mean Squared Error: 25.336049649738015
Regression Tree R2 Score: 0.02425550298321777

In [45]:
correlation_values = raw_data.corr()['tip_amount'].drop('tip_amount')
abs(correlation_values).sort_values(ascending=False)[:4]

fare_amount      0.200638
tolls_amount     0.116172
trip_distance    0.101819
RatecodeID       0.094075
Name: tip_amount, dtype: float64

In [46]:
correlation_values = raw_data.corr()['tip_amount'].drop('tip_amount')
abs(correlation_values).sort_values(ascending=False)

df = raw_data[['RatecodeID', 'trip_distance', 'tolls_amount', 'fare_amount', 'tip_amount']]

In [47]:
X = df.drop(['tip_amount'], axis=1).values
y = df[['tip_amount']].values.astype('float32')
X = normalize(X, norm='l1', copy=False)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rt = DecisionTreeRegressor(criterion='squared_error', max_depth=8, random_state=35)
rt.fit(X_train, y_train)
rt_predictions = rt.predict(X_test)
print("Regression Tree Mean Squared Error after feature selection:", mean_squared_error(y_test, rt_predictions))
print("Regression Tree R2 Score after feature selection:", rt.score(X_test, y_test))

Regression Tree Mean Squared Error after feature selection: 25.411434048734918
Regression Tree R2 Score after feature selection: 0.021352291413180957